In [ ]:
list_o = ['a', 'i', 'f', 'f', 'e', 'l']
list_o

['a', 'i', 'f', 'f', 'e', 'l']

In [ ]:
list_tw = [[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']]
list_tw

[[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']]

In [ ]:
len(list_tw)

3

In [ ]:
# 3행 1열 출력
list_tw[2][0]

'a'

In [ ]:
# Q. 2행 2열을 출력해보세요.
list_tw[1][1]

'ㄴ'

In [ ]:
# 인덱싱 한개만 써보기
list_tw[2]

['a', 'b']

In [ ]:
# 4행, 3열, depth 2인 3차원 리스트
list_th = [[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],\
           [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]
list_th

[[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
 [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]

In [ ]:
# 3차원 리스트의 길이
len(list_th)

2

In [ ]:
# 열 생략 ver.
list_th[0][0]

[1, 2, 3]

In [ ]:
# 열 기재 ver.
# depth 1, 1행, 열 전체
list_th[0][0][:]

[1, 2, 3]

In [ ]:
# depth 2, 1행, 3열
list_th[1][0][2]

'c'

In [ ]:
# Q. ['d', 'e', 'f']를 선택하려면 인덱싱을 어떻게 해야 할까요?
# [[YOUR CODE]]
list_th[1][1]

['d', 'e', 'f']

In [ ]:
kims_age = [60, 28, 30, 34, 66, 11]  
kims_age

[60, 28, 30, 34, 66, 11]

In [ ]:
max(kims_age)

66

In [ ]:
min(kims_age)

11

In [ ]:
# 이탈리아 축구 팀인 '나폴리'의 선수와 번호입니다 :)
napoli = ['minjae', 3, '크바라츠헬리아', 77, 'Osimhen', 9, 'Anguissa', 99]

# 아래 주석을 풀어보세요!
min(napoli), max(napoli)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# Q. 위의 코드와 같이 min() & max() 함수를 사용해 보세요. 
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']  # 문자열만 있는 리스
# [[YOUR CODE]]
min(napoli_player), max(napoli_player)

('Anguissa', '크바라츠헬리아')

In [ ]:
# 아스키 코드 ➔ 문자열
chr(105), chr(110), chr(121), chr(111), chr(117)

('i', 'n', 'y', 'o', 'u')

In [ ]:
# 문자열 ➔ 아스키 코드
ord('m'), ord('크'), ord('O'), ord('A')

(109, 53356, 79, 65)

In [ ]:
# [Playgorund] 원하는 아스키 코드와 문자열을 자유롭게 변경해 보세요.
# [[YOUR CODE]]
ord('t'), ord('w'), ord('i'), ord('n'), ord('k'), ord('l'), ord('e')

(116, 119, 105, 110, 107, 108, 101)

In [ ]:
kims_age

[60, 28, 30, 34, 66, 11]

In [ ]:
# 반복문으로 리스트의 모든 값 더하기
total_sum = 0
for i in kims_age:
    total_sum += i

print(total_sum)

229

In [ ]:
# sum()함수로 더하기
sum(kims_age)

229

In [ ]:
for i in enumerate(kims_age):
    print(i)

(0, 60)
(1, 28)
(2, 30)
(3, 34)
(4, 66)
(5, 11)

In [ ]:
# Q. napoli_player에 enumerate() 함수를 써보세요. 
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
# [[YOUR CODE]]
for i in enumerate(napoli_player):
    print(i)

(0, 'minjae')
(1, '크바라츠헬리아')
(2, 'Osimhen')
(3, 'Anguissa')

In [ ]:
# zip만 출력해보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
zip(napoli_num, napoli_player)

In [ ]:
# for문에 zip을 넣고 출력해보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 

for i in zip(napoli_num, napoli_player):
    print(i)

(3, 'minjae')
(77, '크바라츠헬리아')
(9, 'Osimhen')
(99, 'Anguissa')

In [ ]:
# 다시 한 번 확인
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 

check_zip = list(zip(napoli_num, napoli_player))

# zip이 잘 되었는지 확인해볼까요?
print(check_zip)

[(3, 'minjae'), (77, '크바라츠헬리아'), (9, 'Osimhen'), (99, 'Anguissa')]

In [ ]:
# unzip 활용해서 해체
new_num, new_player = zip(*check_zip)
print(new_num)
print(new_player)

(3, 77, 9, 99)
('minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa')

In [ ]:
# [Playground] zip()을 조금 더 연습해 보세요. 
# [[YOUR CODE]]

In [ ]:
# 반복문으로 아스키 코드 확인
for i in ['a', 'b', 'c', 'd']:
    print(ord(i))

97
98
99
100

In [ ]:
# Q. 위에서 살펴본 알파벳과 아스키 코드로 딕셔너리를 만들어 보세요. 딕셔너리의 형태는 {Key1:Value1, Key2:Value2, Key3:Value3, ...}인 것은 아시죠? 
dict_uni = {'a':97, 'b':98, 'c':99, 'd':100}
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [ ]:
# 딕셔너리에 이미 있는 key 넣어보기
dict_uni.setdefault('c')

99

In [ ]:
# 새로운 key만 넣기
dict_uni.setdefault('e')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': None}

In [ ]:
# 'e'값을 삭제하고 다시 넣어보겠습니다.
del dict_uni['e']
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [ ]:
# Q. 새로운 key와 value ('e', 101)를 넣어보세요. 
# [[YOUR CODE]]
dict_uni.setdefault('e', 101)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [ ]:
# Q. 새로운 key인 'f'만 추가해 보세요. 
# [[YOUR CODE]]
dict_uni.setdefault('f')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': None}

In [ ]:
# update()로 딕셔너리 update하기 
dict_uni.update(f=102)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102}

In [ ]:
# Q. update 함수로 새로운 key와 value (g, 103)를 추가해 보세요. 
# [[YOUR CODE]]
dict_uni.update(g=103)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [ ]:
# [Playground] setdefault(), update() 함수를 자유롭게 사용하여 딕셔너리를 수정해 보세요. 
# [[YOUR CODE]]

In [ ]:
kims_age = [60, 28, 30, 34, 66, 11]  
kims_age

[60, 28, 30, 34, 66, 11]

In [ ]:
# pop() 함수는 마지막 요소를 출력하고 삭제합니다.
kims_age.pop()

11

In [ ]:
# 삭제됐는지 확인
kims_age

[60, 28, 30, 34, 66]

In [ ]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103}

In [ ]:
# 주석을 풀고 코드를 돌려보세요.
dict_uni.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
# pop(key)
dict_uni.pop('g')

103

In [ ]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102}

In [ ]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102}

In [ ]:
# 마지막 value만 꺼내서 삭제
dict_uni.popitem()

('f', 102)

In [ ]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [ ]:
# Q. pop() 함수만 사용해서 1부터 10까지의 합을 구해봅시다.

nums = list(range(1, 11))  # [1, 2, ... , 10]
result = 0  # 결과값 - 여기에 숫자를 계속 더해주세요!

for i in range(10):
    result+=nums.pop()

print(result)

55

In [ ]:
kims_age = [60, 28, 30, 34, 66, 11] 
kims_dict = dict.fromkeys(kims_age)
kims_dict

{60: None, 28: None, 30: None, 34: None, 66: None, 11: None}

In [ ]:
kims_age = [60, 28, 30, 34, 66, 11] 
kims_dict = dict.fromkeys(kims_age, 'kor')  # key, value 순서
kims_dict

{60: 'kor', 28: 'kor', 30: 'kor', 34: 'kor', 66: 'kor', 11: 'kor'}

In [ ]:
# 요소 in 리스트
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
'minjae' in napoli_player

True

In [ ]:
# 손흥민 선수는 토트넘 선수이죠!
'Son' in napoli_player

False

In [ ]:
# not in
'Son' not in napoli_player

True

In [ ]:
# key값만 확인 가능
dict_uni = {'a': 97, 'b':98, 'c':99, 'd':100}
'a' in dict_uni

True

In [ ]:
# value값은 확인 불가능
100 in dict_uni

False

In [ ]:
# value 값 확인하기
100 in dict_uni.values()

True

In [ ]:
# Q. 101은 value 값에 포함될까요? in을 사용하여 확인해 보세요. 
# [[YOUR CODE]]
101 in dict_uni,values()

NameError: name 'values' is not defined

In [ ]:
# 튜플에서도 사용
'Son HeungMin' in ('Kim MinJae', 'Son HeungMin', 'Lee GangIn')

True

In [ ]:
# Q. not in은 str(영어)에서도 사용할 수 있습니다. 'football'에 's'가 포함되어 있는지 확인해 보세요. 
# [[YOUR CODE]]
's' in 'football'

False

In [ ]:
# Q. in은 str(한글)에서도 사용할 수 있습니다. '잘 먹었습니다.'에 '잘'이 있는지 확인해 보세요. 
# [[YOUR CODE]]
'잘' in '잘 먹었습니다.'

True

In [ ]:
# 반복문
list_for = []
for i in range(0, 11, 2):
    list_for.append(i)

print(list_for)

[0, 2, 4, 6, 8, 10]

In [ ]:
# 리스트 컴프리헨션
[x for x in range(0, 11, 2)]

[0, 2, 4, 6, 8, 10]

In [ ]:
[str(x) * 2 for x in range(0, 11, 2)]

['00', '22', '44', '66', '88', '1010']

In [ ]:
# Q. 리스트 컴프리헨션을 사용하여 다음을 출력해보세요!
# [0, 1, 4, 9, 16, ..., 81]

# [[YOUR CODE]]
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# 반복문 + 조건문
list_con = []
for i in range(0, 11):
    if i % 2 == 0:
        list_con.append(i)

print(list_con)

[0, 2, 4, 6, 8, 10]

In [ ]:
# 리스트 컴프리헨션 with 조건문
[x for x in range(1, 11) if x % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
# Q. 리스트 컴프리헨션을 사용하여 1 이상 100 이하 홀수들의 합을 계산해보세요!
# [[YOUR CODE]]
result = sum([x for x in range(1, 101) if x % 2 == 1])
print(result)

2500

In [ ]:
# 단짠단짠 조합
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔'] 

[[x, y] for x in sweetie for y in savory]

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [ ]:
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔']

sweet_savory = []
for x in sweetie:
    for y in savory:
        sweet_savory.append([x, y])

sweet_savory

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [ ]:
# 2와 3의 공배수
[x for x in range(1, 30) if x % 2 == 0 if x % 3 == 0]

[6, 12, 18, 24]

In [ ]:
# Q. 리스트 컴프리헨션을 사용하여 다음을 출력해보세요!
# [[1, 11], [2, 22], [3, 33], ..., [9, 99]]

# [[YOUR CODE]]
[[x, x * 11] for x in range(1, 10)]

[[1, 11],
 [2, 22],
 [3, 33],
 [4, 44],
 [5, 55],
 [6, 66],
 [7, 77],
 [8, 88],
 [9, 99]]

In [ ]:
# 셋 컴프리헨션
{x for x in range(0, 11, 2)}

{0, 2, 4, 6, 8, 10}

In [ ]:
type({x for x in range(0,11,2)})

set

In [ ]:
# {나폴리 선수 번호:이름} 딕셔너리
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa'] 
{k:v for k, v in zip(napoli_num, napoli_player)}

{3: 'minjae', 77: '크바라츠헬리아', 9: 'Osimhen', 99: 'Anguissa'}

In [ ]:
# 딕셔너리 컴프리헨션 with if문
{k:v for k, v in zip(napoli_num, napoli_player) if k < 50}

{3: 'minjae', 9: 'Osimhen'}