In [1]:
# 일반 함수
def add_two(x):
    return x + 2 

add_two(5)

7

In [2]:
# 람다 함수
(lambda x : x + 2)(5)

7

In [3]:
# 변수에 할당된 람다 함수
add = lambda x : x + 2
add(3)

5

In [6]:
# 람다 표현식 안에서 새 변수를 만들면 어떻게 될까요?
(lambda x: y = 10; x + y)(1)  # 'y = 10' 이 새 변수를 만든 부분

SyntaxError: invalid syntax (2537519879.py, line 2)

In [7]:
# 람다 외부 변수 사용하기
y = ' 나폴리 '
(lambda x : x + y)('이탈리아')  # 인수를 x만 받기 때문에 '이탈리아'가 x에 할당됩니다.

'이탈리아 나폴리 '

In [8]:
# 일반 함수
def second(x):
    results = x * 2
    return results

# 리스트 
two = [i for i in range(10)]

# map() + 일반함수
map(second, two)

In [9]:
# 파이썬 3에서 map을 list로 리턴하기
list(map(second, two))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
# Q. 파이썬 3에서 map을 tuple로 리턴해 보세요. 
# [[YOUR CODE]]
tuple(map(second, two))

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [12]:
# 리스트
two = [i for i in range(10)]

# map() + 람다 함수
map(lambda x : x * 2, two)

# 파이썬 3에서 map을 list로 리턴하기
list(map(lambda x : x * 2, two))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
# Q. 다음 리스트를 출력하는 코드를 람다 표현식과 리스트 컴프리헨션을 이용해 구현해보세요!
# [1, 4, 9, 16, ..., 81, 100]

# [[YOUR CODE]]
list(map(lambda x : x**2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 일반 함수
def odd(x):
    if x % 2 == 1:
        return x

# 리스트
two = [i for i in range(10)]

# list(filter() + 일반 함수)
list(filter(odd, two))

In [18]:
# list(filter() + 람다 함수)
list(filter(lambda x : x % 2 == 1, two))

[1, 3, 5, 7, 9]

In [19]:
# 파이썬은 조건이 없으면 True일 때만 통과
list(filter(lambda x : x % 2, two))

[1, 3, 5, 7, 9]

In [20]:
# Q. 다음 리스트를 출력하는 코드를 filter() 함수와 람다 표현식을 이용해 구현해보세요!
# [4, 5, 6]

quiz_list = [i for i in range(10)]
# [[YOUR CODE]]
list(filter(lambda x : 4<=x<=6, quiz_list))

[4, 5, 6]

In [21]:
# 모듈 import
from functools import reduce

# 일반 함수
def f(x, y):
    return x * y

# 리스트
a = [1, 2, 3, 4, 5]

# reduce(일반 함수, 이터러블 객체)
reduce(f, a)

120

In [22]:
# 리스트
a = [1, 2, 3, 4, 5]

# reduce(람다 함수, 이터러블 객체)
reduce(lambda x, y : x * y, a)

120

In [29]:
# Q. 리스트 컴프리헨션과 람다 표현식을 이용해 1부터 100까지의 합을 구하는 코드를 구현해보세요!

# [[YOUR CODE]]
reduce(lambda x,y : x+y, range(1,101))

5050

In [30]:
sum([i for i in range(1, 101)])

5050

In [32]:
# 변수로 할당 
x = 3
type(x)

int

In [33]:
# 자료구조 안에 담기
y = [1, 2, 3]

In [34]:
# 매개변수로 전달 
a, b = 3, 1
def add(x, y):
    print(x + y)

add(a, b)

4

In [35]:
# 리턴값으로 사용 
def num():
    return 3
    
num()

3

In [36]:
# 함수의 타입
type(num)

function

In [37]:
# 두 수를 더한 값을 리턴하는 add 함수 선언 
def add(a, b):   
    return a + b  

# f1이라는 변수에 add 함수 할당
f1 = add         

print(add)      
print(f1)          # add함수와 f1의 메모리 주소 출력

<function add at 0x104757920>
<function add at 0x104757920>

In [38]:
# is 함수로 비교
print(f1 is add)

True

In [39]:
# 동일한 인수 전달
print(f1(1, 2))   
print(add(1, 2))

3
3

In [40]:
def add(a, b): 
    return a + b

def minus(a, b):
    return a - b

# 리스트에 함수 할당
calc = [add, minus]

for i in calc:
    print(i(10, 5)) # 15와 5를 출력

15
5

In [41]:
# 함수
def odd(x):
    if x % 2 == 1:
        return x

# 리스트
two = [i for i in range(10)]

# filter 함수에 odd 함수를 매개변수로 전달
list(filter(odd, two))

[1, 3, 5, 7, 9]

In [42]:
# 위의 함수 구조와 비교해서 보기
def hello(name): 
    def printer():
        print(f"Hello {name}!") 

    return printer              

func = hello("AIFFEL")             
func()

Hello AIFFEL!

In [43]:
# "인유", "파이썬", "AIFFEL" 중에 어떤 이름이 나올까요?
name = "인유"
def hello(name): 
    def printer():
        name = "파이썬"
        print(f"Hello {name}!") 

    return printer              

func = hello("AIFFEL")             
func()

Hello 파이썬!

In [44]:
import math

# log 2
math.log(2)

0.6931471805599453

In [45]:
# 실습퀴즈 1. map 함수
# 변수 numbers 안에 있는 값들을 모두 로그 변환해 보세요.

import math 
numbers = list(range(1, 11))
log_transformed_numbers = list(map(math.log, numbers))
log_transformed_numbers

[0.0,
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046]

In [ ]:
# 실습퀴즈2. 람다 표현식
# 100 이하의 자연수 중에서 3의 배수가 아닌 숫자만 리스트에 담으세요. 

numbers = list(range(1, 101))
filtered_numbers = list(map(math.log, numbers))
filtered_numbers

In [46]:
# 실습퀴즈3. 일급 객체 
# reduce 함수를 함께 사용하여 함수를 매개변수로 전달하는 코드를 자유롭게 작성해 보세요. 

# [[YOUR CODE]]
from functools import reduce
def div(x, y):
    return x / y
a=[i for i in range(1,5)]
reduce(div, a)

0.041666666666666664